
.nav {
    background-color: lightgray;
    width: 100%;
    text-align: center;
}

.nav-item {
    padding: 10px;
    color: black;
    height: 60px;
    display: inline-block;
    background-color: aqua;
}

.nav-image {
    height: 60px;
    width: auto;
}

.school-list {
    display: flex;
    flex-wrap: wrap;
}

.school-div {
    background-color: aquamarine;
    width: 50%;
    border: 1px solid grey;
    justify-content: center;
    text-align: center;
}

.school-logo {
    border: 1px solid grey;
    height: 200px;
    width: 200px;
}

.student-picture {
    height: 200px;
    width: 200px;
    border: 1px solid grey;
}

.student-td {
    border: 1px solid grey;
    width: 32%;
    padding: 1%;
}

.student-list {
    width: 96%;
    margin: 2%;
}

.img-td {
    height: 100px;
    width: 100px;
}

